<!--
<p>Spend over £25 for free shipping via Royal Mail Tracked 48 (2-3 day delivery)</p>
<p>Spend over £200 for free shipping via Royal Mail Tracked 24 (1-2 day delivery)</p>
<p>To guarantee next day delivery we recommend you use Royal Mail Guaranteed 1PM. </p>

<p>Some large and delicate goods incur a £15 shipping rate. </p>-->
<div>{{ pages.product-shipping-information.content }}</div> 