<script
  type="application/json"
  data-section-type="featured-text"
  data-section-id="{{ section.id }}"
>
</script>

{% style %}
  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

<section class="section info-rich-text">
  <div class="{% if section.settings.wide_display == true %} container{% else %}rich-container container{% endif %}">
    <div class="one-whole column">
      <div class="rich-text__content {{ section.settings.text_alignment }}">
        
        <div class="rich-text__text {{ section.settings.text_size }}">
          {% if section.settings.content != blank %}
            {{ section.settings.content }}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Info Rich text",
  "class": "shopify-section--rich-text-and-image",
  "settings": [
	{
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info Rich text",
      "category": "Text"
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}